APP_PORT=8080
LOG_LEVEL=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=5766
POSTGRES_DB=coworking
POSTGRES_USER=coworking
POSTGRES_PASSWORD=secret

REDIS_HOST=localhost
REDIS_PORT=6766
REDIS_PASSWORD=secret
